.codegen
accesslist.txt
*.xml
*.dll
code/*.csproj
code/obj
code/Properties/launchSettings.json
.intermediate
tools_asset_info.bin
_bakeresourcecache
tools_thumbnail_cache.bin
*.los
*.vpk
*.vpcf_c
*.pdb
*.jpg
*.png
*.jpeg
*.fbx
*.blend
*.blend1
.intermediate/net5.0/sandbox.deps.json
maps/editor/_bakeresourcecache/toolscene_default_baked/*
