Status {
    position: absolute;
    left: 25px;
    bottom: 48px;
    font-weight: bold;
    height: 80px;
    width: 320px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 60px;

    .healthLabel {
        color: red;
        text-shadow: 4px 4px 20px red;
    }

    .manaLabel {
        color: mediumpurple;
        text-shadow: 4px 4px 20px mediumpurple;
    }

    .staminaLabel {
        color: forestgreen;
        text-shadow: 4px 4px 20px forestgreen;
    }
}

PowerBar {
    position: absolute;
    right: 25px;
    bottom: 32px;
    height: 80px;
    width: 320px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    font-size: 60px;

    .fireLabel {
        text-shadow: 5px 5px 10px orange, -5px -5px 10px red;
    }

    .earthLabel {
        text-shadow: 5px 5px 10px green, -5px -5px 10px blue;
    }

    .lightningLabel {
        text-shadow: 5px 5px 10px black, -5px -5px 10px yellow;
    }

    .lifeLabel {
        text-shadow: 5px 5px 10px red, -5px -5px 10px pink;
    }
}
